* {
  margin: 0px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
.header {
  background-color: white;
  padding: 30px 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav > h2 {
  font-size: 20px;
}
.nav > ul {
  display: flex;
}
.nav > ul > li {
  list-style-type: none;
  list-style: none;
  margin: 0px 12px;
}

.nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.nav > ul > li > a:hover {
  color: rgb(240, 221, 20);
  font-size: 20px;
  padding: 9px;
  border: 1px solid black;
  border-radius: 80% 20% 80% 20%;
}
.active {
  color: rgb(240, 221, 20);
  font-size: 20px;
  padding: 9px;
  border: 1px solid black;
  border-radius: 80% 20% 80% 20%;
}
.btn {
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;
  width: 150px;
}
.hero {
  grid-row: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.col {
  column-gap: 0ch;
  width: 50%;
}
.circle {
  background-color: brown;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: relative;
  margin-left: 100px;
}
.squar {
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 100px;
  position: absolute;
}
.circle-50 {
  height: 150px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10% 80% 90% 20%;
  position: absolute;
  top: 30px;
  right: 30px;
}
.bt {
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 100px;
  bottom: -2px;
  right: 0px;
  position: absolute;
}

.h1title {
  font-size: 60px;
  position: absolute;
  z-index: 2;
  left: 90px;
}
.h2title {
  font-size: 60px;
  position: absolute;
  z-index: 2;
  left: 90px;
  top: 150px;
  background-color: transparent;
}
.h3title {
  font-size: 100px;
  position: absolute;
  z-index: 2;
  left: 90px;
  top: 200px;
  background-color: transparent;
  color: rgb(249, 223, 24);
}
.h4title {
  font-size: 60px;
  position: absolute;
  z-index: 2;
  left: 160px;
  top: 290px;
  background-color: transparent;
}
.bottom-hero {
  position: absolute;
  z-index: 2;
  left: 90px;
  top: 380px;
  width: 30%;

  background-color: transparent;
}

.bottom-hero > p {
  padding-bottom: 20px;
  font-weight: 600;
}

.sq {
  border: 1px solid black;
  height: 60%;
  width: 25%;
  position: absolute;
  right: 150px;
}

.img {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  left: 30px;
  top: 20px;
}

.index {
  z-index: 2;
}

footer {
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding: 20px 70px;
}

ion-icon {
  top: 50px;
  font-size: 20px;
  margin-left: 20px;
}

.icon-foote {
  margin-top: 90px;
}
.footer-cicle{
  position: relative;
}

.circle-1 {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
}
.circle-2 {
  border: 1px solid black;
  height: 150px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 15px;
}

.footer-cicle>h1{
  background-color: transparent;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0px;
  top: 70px;
  z-index: 2;
  left: 50px;
  font-weight: bold;
  font-size: larger;
}


